[
 {os_mon, % settings for the statistician
  [
   %% How often to check the disk usage
   {disk_space_check_interval, 10},
   %% threshold for when to get disk almost full warnings
   {disk_almost_full_threshold, 0.80},
   %% How often to check the memory usage
   {memory_check_interval, 10},
   %% threshold for when to get memory almost full warnings
   {system_memory_high_watermark, 0.80}
  ]
 },

 {master,
  [
   %% This is where the fs storage backend saves intermediate results,
   %% as well as where the programs should reside (in the sub dir programs)
   {cluster_root, "/storage/test/"},
   %% Allow background jobs?
   {allow_bg_jobs, yes},
   %% The storage module backend
   %% fs = filesystem
   %% riak = riak distributed storage
   {storage_backend, fs},
   %% The root for the file system storage module
   {fs_backend_root, "/storage/test/"},
   %% The network interface facing the riak cluster
   {riak_interface, "eth2"}
  ]
 },

 {slave,
  [
   %% Estimates for power usage
   {high_load_watt, 45},
   {low_load_watt, 20},
   {some_watt, 30}, % pun not intended :-)
   %% Number of cores, for load estimates
   {cores, 2},
   %% Name of your platform,
   %% this is used when finding the correct program to start
   {platform, "linux_x86_64"},
   %% The storage module backend
   %% fs = filesystem
   %% riak = riak distributed storage
   {storage_backend, fs},
   %% The root for the file system storage module
   {fs_backend_root, "/storage/test/"},
   %% The network interface facing the riak cluster
   {riak_interface, "eth2"}
  ]
 }

 {common,
  [
   %% After this number of restarted tasks, a job is cancelled.
   {max_restarts, 10}
  ]
 },

 {chronicler,
  [
   %% The directory log files will be written to,
   %% make sure the user running the cluster nodes have write permissions
   {log_dir, "/var/log/lopec/"}
  ]
 }
].
